@import "./css/fonts.css";
@import "./css/reset.css";
@import "./variables.scss";

@mixin has-transparent-border($has-transparent-border) {
  @if $has-transparent-border == true {
    border-color: transparent;
  }
}

body{
  background: white;
  transition: background .4s ease-in;
  &:has(.main_content.dark) {
    .changable{
      color: $white;
      border-color: $white;
    }
    .calendar_time.changable{
      border-color: $white;
      &:nth-child(2n+1) {
        border-bottom: 1px solid transparent !important;
      }
    }
    .calendar_day.changable{
      border-color: $white;
    }
    background-color: $bg-color;
  }
}

.base_link{
  text-decoration: none;
  color: inherit;
}
.input_wide{
  background: $semi-white;
  color: $black;
  border-radius: 7px;
  border: none;
  font-family: $text-font;
  height: 35px;
  font-size: 18px;
  padding-left: 20px;
  outline:none;
  width: 100%;
  box-sizing: border-box;
  &:placeholder{
    color: $semi-black;
    user-select: none;
  }
  // &.not-valid{
  //   border-bottom-color: $red;
  //   color: $red;
  //   &:placeholder-shown{
  //     border-bottom-color: $white;
  //     color: $semi-black;
  //   }
  // }
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &:first-of-type{
    margin-bottom: 10px;
  }
}
.input_dropdown{
  .input_wide{
    margin-bottom: 0;
  }
  margin-bottom: 10px;
  &:last-of-type{
    margin-bottom: 0;
    margin-top: 10px;
  }
}

textarea.input_wide{
  min-height: 70px;
  resize: none;
  padding-top: 5px;
  display: block;
  &::-webkit-scrollbar{
    width: 4px;
    background: none;
    &-thumb{
      width: 4px;
      border-radius: 4px;
      background: rgba($color: $black, $alpha: 0.2);
    }
  }
  &:last-of-type{
    margin-top: 10px;
  }
}

.base_title{
  font-family: $title-font;
  font-size: 24px;
  color: $black;
  text-align: center;
}

.btn_submit{
  background: $green;
  color: $white;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 35px;
  font-family: $text-font;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  margin-top: 15px;
}

.inv_input{
  opacity: 0;
  position: absolute;
}
.input_date{
  padding-right: 10px;
  color: $semi-black;
  &::-webkit-datetime-edit-year-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-hour-field,
  &::-webkit-datetime-edit-text,
  &::-webkit-datetime-edit-minute-field {
    color: $black;
  }
}

.main_content{
  position: absolute;
  left: 350px;
  width: calc(100% - 350px);
  min-height: 100vh;
  z-index: -1;
  transition: left .4s ease-in, background .4s ease-in, width .4s ease-in;
  padding: 25px 25px 0 25px;
  box-sizing: border-box;
  &.full{
    left: 75px;
    width: calc(100% - 75px);
  }
  &.dark{
    background: $bg-color;
  }
  padding-bottom: 40px;
}

.base_form{
  max-width: 370px;
}

.form_title{
  font-family: $text-font;
  font-weight: 500;
  font-size: 20px;
  color: $black;
  line-height: 24px;
  margin-left: 30px;
  margin-bottom: 10px;
  user-select: none;
}
.changable{
  transition: color .3s ease-in;
}
.plus-sign{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    left: -30px;
    background: url('../assets/icons/plus.svg') no-repeat 50% 50% / contain;
  }
}


.left_arrow,
.right_arrow,
.chevron_bottom,
.fa{
  font-style: normal;
  position: relative;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:before{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'FontAwesome';
    font-size: inherit;
  }
}
.left_arrow:before{
  content: '\f053';
}
.right_arrow:before{
  content: '\f054';
}
.chevron_bottom:before{
  content: '\f078';
}

.xmark:before{
  content: '\f00d';
}
.fa-reveal:before{
  content: '\f06e';
}
.fa-unveal:before{
  content: '\f070';
}

.validatable{
  border: 1px solid transparent;
  &.invalid{
    border-color: $red;
    color: $red;
  }
  &.valid{
    border-color: $green;
  }
}


.vue-notification{
  &-group{
    margin: 25px 15px 0 0;
  }
  height: 100px;
  padding: 20px;
  font-family: $text-font;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  &.error{
    background: linear-gradient(to right, $green, #872A1E) !important;
  }
  &.success{
    background: linear-gradient(to right, $green, #52C94A) !important;
  }
  color: $white;
  border-left: none;
  border-radius: 10px;
  text-shadow: $text-shadow;
  .notification{
    &-title{
      font-size: 20px;
    }
    &-content{
      font-size: 18px;
    }
  }

  &:before{
    position: absolute;
    content: '\f00d';
    top: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-family: 'FontAwesome';
    cursor: pointer;
  }
}


.text_link{
  text-decoration: underline;
  text-underline-offset: 3px;
}
