$red: #780E00;
$white: #FCE7CC;
$black: #1C1311;
$green: #374536;
$semi-white: #ECEADE;
$semi-black: #1C131180;
$bg-color: #1F1F1F;
$title-font: 'Angst', sans-serif;
$text-font: 'Kreadon', sans-serif;
$toggle-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
$text-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
