@import './css/fonts.css';
@import './css/reset.css';
@import './variables.scss';

body{
  background-color: $green;
  // filter: contrast(200%) brightness(200%);
  background: url('@/assets/imgs/noise.png'),
              linear-gradient(90deg, #5b6b5f 0%, #3c4b3e 25%, #2b3b2f 51.88%, #4c5c4f 82.97%, #6a7a6f 100%);
  background-blend-mode: overlay;
}

.base_link{
  text-decoration: none;
  color: inherit;
}

.icon{
  width: 100px;
  height: 100px;
}
.ig-icon{
  background: url('@/assets/imgs/icons/instagram.svg');
  margin: 0 60px;
}
.tg-icon{
  background: url('@/assets/imgs/icons/telegram.svg');
}
.vk-icon{
  background: url('@/assets/imgs/icons/vk.svg');
}
