$red: #780E00;
$white: #FCE7CC;
$black: #1C1311;
$green: #374536;
$semi-white: #ECEADE;
$semi-black: #1C131180;
$bg-color: #1F1F1F;
$title-font: 'Angst', sans-serif;
$serif-font: 'AngstS', serif;
$text-font: 'ZT Neue Ralewe', sans-serif;
